/* nav {
    color: white;
    display: flex;
}


@media (min-width: 319px) and (max-width: 425px) {
    nav {
        display: none;
    }
}
/* 
@media (max-width:768px) {
    nav {
        display: flex;
    }
} */ 